 .listItem {
        padding: 1rem;
        border: 1px;
        border-style: solid;
        border-color: gray;
        border-radius: 1rem;
        margin: 1rem 0;

        .character img {
            height: 12rem;
        }
        
        .emptyImg {
            height: 12rem;
            width: 12rem;
            background-color: gray;
        }
    }    